<h1>$client.getName()</h1>

<a class="btn btn-danger" href="/client/$client.getId()/update">Update client</a>
<form action="/delete/$client.getId()" method="post">
  <button class="btn btn-warning" type="submit" name="delete">Delete client</button>
</form>
<a href="/" class="btn btn-success">Go Home</a>

<p>Clients for this stylist are:</p>
#foreach($stylist in $stylists)
  <p>$stylist.getName()</p>

#end
