<h1>Hair Salon</h1>

#if($stylists.size() > 0)
<br>
<br>
<h3> Make an appointment for hair specialist:</h3>
    #foreach($stylist in $stylists)
      <a href="$stylist.getId()">$stylist.getName()</a>
    #end
