<h1>Update $client.getName() </h1>
  <a class ="btn btn-danger" href="/stylist/$client.getId()">Go Home</a>


<form action="/client/$client.getId()/update-clients" method="post">
  <div class="form-group">
    <label for="clientName">client Name</label>
    <input id="clientName" name="clientName" type="text" class="form-control">
  </div>
  <button type="submit" class="btn btn-success" id= "submitclient">Update Stylist</button>
</form>
