<h1>Update $client.getName() </h1>



<form action="/client/$client.getId()/update-clients" method="post">
  <div class="form-group">
    <label for="clientName">client Name</label>
    <input id="clientName" name="clientName" type="text" class="form-control">
  </div>
  <button type="submit" class="btn btn-success" id= "submitclient">Update Client</button>
</form>

<a href="/" class="btn btn-success">Go Home</a>
